
.gallery{
    display: flex;
    margin: 0 auto;

}
.flexbox{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 31%;
    
    
}
.gallery .flexbox .item{
    width: 100%;
    
    padding: 0.5em;
}

p{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 22px;
    background: linear-gradient( to bottom, #cfc19f 24%, #534f2c 26% , #cfc19f 28% , #cfc19f 29%  , #ffecd4 45% , #3a2c1f 65%  );
    -webkit-background-clip:  text  ;
    -webkit-text-fill-color: transparent;
  }


.gallery .flexbox .item img
{
    width: 100%;
      display: block;
      border: 0.3px solid #cbaa65;
} 

.article-separator .separator{
    width:33.33%;
    height: 6px;
}
.article-separator .separator.green{
    background:#cbaa65;
}
.article-separator .separator.yellow{
    background:#cbaa65;
}
.article-separator .separator.purple{
    background:#cbaa65;
}

.video-gallery iframe{
    border: radius 4px;
    border: 8px solid #cbaa65;
    
}




